<!-- main component -->

<!-- add new Product -->
<div class="header">
  <h1>Product List</h1>
  <!-- add new Product -->
  <button *ngIf="showDetailPage" (click)="AddProduct()">Add Product</button>
</div>
<!-- accordion comes from here -->
<div *ngIf="showDetailPage" class="accordion-container">
  <div *ngFor="let category of categories; let i = index" class="accordion">
    <div
      class="accordion-header"
      [class.active]="category.active"
      (click)="toggleAccordion(i, category.category)"
    >
      <span class="category-name">{{ category.category }}</span>
      <i class="fa fa-angle-down" [ngClass]="{ active: category.active }"></i>
      <i class="fa fa-angle-up" [ngClass]="{ active: !category.active }"></i>
    </div>
    <div class="accordion-panel" [class.show]="category.active">
      <ul *ngFor="let product of uniqueProduct">
        <li (click)="detailsData(product)">{{ product.title }}</li>
      </ul>
    </div>
  </div>
</div>

<!-- end accordion -->

<!-- details product -->
<div *ngIf="!showDetailPage && detailDataPass">
  <!-- child component -->
  <app-product
    [productDetails]="detailDataPass"
    (valueChange)="displayCatgory($event)"
  ></app-product>
</div>
<!-- details End -->

<!-- add product -->
<div *ngIf="!showDetailPage && !detailDataPass">
  <app-product
    [addProduct]="true"
    (valueChange)="displayCatgory($event)"
  ></app-product>
</div>
<!-- end Add product -->
